body {
  padding: 0px;
  margin: 0px;
}

/* nav */
nav {
	background-color: #662D91;
	height: 66px;
	width: 100%;
	// position: fixed;
	z-index: 1;
	color: white;
}

nav #logo { 
	top: 10px;
	left: 10px;
	position: relative;
	float: left;
	height: 46px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
/* nav */

/* main */
main {
	min-height: 122px;
}

main #sidebar { 
	color: red;
	float: left;
	width: calc(15% - 40px);
	padding: 20px;

	background-color: bisque;
	height: 1390px;
}

main #content { 
	color: red;
	float: right;
	width: 85%;
}   

main #chart {
  background-color: beige;
}

main #cover {
	position: relative;
	z-index: -1;
}
/* main */

.container {
  // width: 900px;
  // background-color: bisque;
	margin: 0px auto;
}

.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}